
<form action="/login" method="post">
  Email: <input id="email" name="email" value="member@freaksidea.com"/> <br/>

  Password: <input id="password" name="password" value="123456"> <br/>

  <input type="submit">
</form>
